<div class="question-list-item" onClick={onClick}>
    <h3 class="question-list-item-title">
      <span class="question-list-number">"number"&nbsp;</span>
      "type"
    </h3>
    <div class="question-preview">
      <h4 class="question-preview-title">
        "name"
      </h4>
      <div class="question-preview-time">"time"</div>
      <div class="question-preview-background-image">
        "image.length === 0 ? (
          <img src={defaultQuestionImage} alt="" />
        ) : (
          <img src={image} alt="" />
        )"
      </div>
      <div class="question-preview-answers">
        <div class="answer-image"></div>
        <div class="answer-image"></div>
        <div class="answer-image"></div>
        <div class="answer-image"></div>
      </div>
    </div>
  </div> 
